.AppInterface { 
    margin: auto;

    width: 1400px;
    height: 700px;

    display: flex; 
    flex-direction: row;
    align-items: center;
}

/** 
    Analysis Start
**/

.AppInterface__analysis { 
    width: 950px; 
    height: 100%;

    display: flex; 
    flex-direction: column; 
    align-items: center;

    transition: 250ms ease-in-out;
}

/** 
    Analysis End
**/

/** 
    Drawer Start
**/

.AppInterface__drawer-container { 
    width: 450px;
    height: 88%;

    transform: translateY(30px);
    
    transition: 500ms ease-in-out;
}

/**
    Drawer Endd
**/