@font-face {
    font-family: Raleway;
    src: url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');;
}

:root { 
    font-size: 16px;
    font-family: Raleway;
    box-sizing: border-box;
  
    /* Colours */ 
    --purple: rgb(121, 80, 242);
  
    /* Theme */
    --dark-theme-colour-1: rgb(60, 60, 60);
    --dark-theme-colour-2: rgb(51, 51, 51);
    --dark-theme-colour-3: rgb(37, 37, 37);
    --dark-theme-colour-4: rgb(30, 30, 30);
    --dark-theme-colour-5: rgb(242, 244, 245);
    --dark-theme-colour-6: rgba(37, 37, 37, 0.8);
    --dark-theme-colour-7: rgba(60, 60, 60, 0.6);
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}